.frontBanner{
	background-color: orange;
	height: 100%;
	width: 100%;
	font-family: Lato, Helvetica, Arial, sans-serif;
}

.titleCard{
	bottom: 20%;
	left: 10%;
	height: 40%;
	display: block;
	position: absolute;
}

.title{
	font-size: 500%;
	color: white;
}

.description{
	font-size: 150%;
	color: white;
	line-height: 200%;
}

.githubLink{
	box-shadow: rgb(255, 255, 255) 0px 0px 0px 2px inset;
	width: 20%;
	bottom: 10%;
	height: 20%;
	text-align: center;
	line-height: 150%;
	color: white;
	font-size: 200%;
	transition: all 0.3s;
	cursor:pointer;
}

.githubLink:hover{
	background-color: #FFCF0F;
}

.names{
	font-size: 100%;
	color: white;
}

.linksPage{
}

.image1{
	background: rgba(0,0,0,0) url('../pics/proximity.png');
	display: block;
	height: 50%;
	margin-left: auto;
	margin-right: auto;
	background-size:cover;
}

.image2{
	background: rgba(0,0,0,0) url('../pics/esp8266.jpg');
	display: block;
	height: 50%;
	margin-left: auto;
	margin-right: auto;
	background-size:cover;
}

.image3{
	background: rgba(0,0,0,0) url('../pics/atmega328.jpg');
	display: block;
	height: 50%;
	margin-left: auto;
	margin-right: auto;
	background-size:cover;
}

.image4{
	background: rgba(0,0,0,0) url('../pics/motor.png');
	height: 50%;
	display: block;
	margin-left: auto;
	margin-right: auto;
	background-size:cover;
}


.imageOverlay:before{
	background-color: inherit;
}
.imageOverlay:hover{
	background-color: rgba(120,120,120,0.5)
}
